.ide .suo
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/.suo
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-wal
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-wal
WEBSystemServiceManagement/bin/WEBSystemServiceManagement.dll
*.pdb
*.dll
*.pdb
