.ide .suo
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/.suo
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-wal
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-wal
WEBSystemServiceManagement/bin/WEBSystemServiceManagement.dll
*.pdb
*.dll
*.pdb
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/.suo
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-wal
*.dll
WEBSystemServiceManagement/bin/WEBSystemServiceManagement.pdb
WEBSystemServiceManagement/obj/Debug/WEBSystemServiceManagement.csproj.FileListAbsolute.txt
*.cache
WEBSystemServiceManagement/obj/Debug/WEBSystemServiceManagement.dll
WEBSystemServiceManagement/obj/Debug/WEBSystemServiceManagement.pdb
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/Server/sqlite3/storage.ide-shm
*.ide-wal
*.ide
WEBSystemServiceManagement/.vs/WEBSystemServiceManagement/v16/.suo
